<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.asp" />
        <add value="index.html" />
        <add value="default.asp" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".mdb" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
    </staticContent>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="database" />
          <add segment="admin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.asp" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-TW" uiCulture="zh-TW" />
    <sessionState timeout="30" />
    <compilation debug="false" />
  </system.web>
</configuration>
